
.card {
    position: relative;
}

.play {
    position: absolute;
    top: 0;
    margin: 1em;
    background: rgb(0, 0, 0, 0.2);
    background: red;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px;
    z-index: 1;
}

.fa-play-circle {
    color: white;
    font-size: 4rem;
}