/* card-sportBig ********************* */

.card-sportBig {
    display: flex;
    justify-content: space-between;
}

.card-sportBig-container-img {
    overflow: hidden;
    flex: 0 0 60%;
}

.card-sportBig-container-img a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.card-sportBig-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-sportBig-text {
    flex: 0 0 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-sportBig-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-sportBig-info .card-info-category {
    display: none;
}

.card-sportBig .play {
    margin: 0.2em;
}

.card-sportBig .read-more {
    order: 2;
}
.card-sportBig .read-more a {
    display: inline-block;
}

.card-sportBig .read-more a {    
    padding: 0.5em 2em 0.5em 2em;
    background: rgb(161, 0, 0);
    color: white;
    font-size: 1rem;
    transition: background 0.25s;
}
.card-sportBig .read-more a:hover {
    cursor: pointer;
    color: white;
    background: rgb(223, 0, 0);
}

/* ard-sportCenter ********************* */

.card-sportCenter-container-img {
    overflow: hidden;
}
.card-sportCenter-container-img a {
    display: inline-block;
    width: 100%;
    height: 100%;

}
.card-sportCenter-img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.card-sportCenter-text {  
    width: 100%;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

.card-sportCenter-title {
    margin-bottom: 0.25em;
    margin-top: 0em;
}
.card-sportCenter-info {
    order: -1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-sportCenter-info .card-info-category {
    display: inline-block;
}

.card-sportCenter-info  .fa-arrow-right {
    margin: 0 5px 0 7px;
}

/* sport themas ********************* */

.sport-themas {
    display: flex;
    justify-content: space-between;
    
}
.thema-item {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: all 0.25s;
}
.thema-item a {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thema-item a span {
    border-radius: 50%;
    padding: 5px;
    font-size: 2rem;
    background: rgb(184, 0, 0);
    color: white;
}

.thema-item:hover {
    transform: scale(1.1);
}


@media all and (max-width: 768px) {
    .card-sportBig {
        flex-direction: column;
    }
    .card-sportBig-container-img {
        margin-bottom: 1em;
    }
    

    .sport-themas {
        flex-wrap: wrap;     
        justify-content: space-evenly;   
    }
    .thema-item {
        height: 100px;
        width: 20%;
        margin-bottom: 2em;
        margin-right: 1em;
    }
    .thema-item a span {
        font-size: 1.5rem;
    }


}