.carousel {
    flex: 0 0 63%;
    overflow: hidden;
}

/* fix swiper ////////////////// */

.swiper-container {
    width: 100% !important;
    
}
li.swiper-slide {
    width: 100% !important
}

.swiper-slide {
    list-style: none;
}

#main.swiper-container {
    margin-bottom: 1em;
}

.swiper-wrapper {
    padding-inline-start: 0;
    margin: 0;
}

.swiper-slide {
    padding: 0px;
    margin: 0;
}

#thumbs .swiper-wrapper {
    margin-bottom: 1em;
}

.swiper-pagination {
    bottom: 0 !important;
    height: 20px !important;
}

.swiper-pagination-bullet {
    width: 1em !important;
    height: 1em !important;
    margin: 7px 10px 0 10px !important;
}


/* thumbs //////////////////////////////////// */


.imgThumb {
    width: 100%;
}
.imgThumb:hover {
    cursor: pointer;
}

#thumbs .swiper-slide {
    transition: all 0.25s;
    transform: scale(0.7, 0.7);
}
#thumbs .swiper-slide-thumb-active {
    transform: scale(1, 1);
}
/* .swiper-pagination {
    position: absolute;
    bottom: -100%;
} */