.header {
    width: 100%;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 2em;
}

.header-title a .title {
    margin: 0;
} */

.header-title .title {
    margin: 0;
}

.title-img {
    height: 1.5em;
}

.header-icons {
 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.header-images {
    display: flex;
}

.header-images .one-tech, .header-images .mern-image {
    height: 5em;
    width: 100%;
}
.header-images .mern-image {
    display: none;
}

.menu-toggle {
    display: none;
    margin-right: 1em;
}
.menu-toggle:hover {
    cursor: pointer;
}
.header .fa-times.hide, .fa-bars.hide {
    display: none;
}
.header .fa-times.show, .fa-bars.show {
    display: inline;
}
/* .login {
    display: inline-block;
    margin-left: 1.5em;
} */

@media all and (max-width: 768px) {

    .header-box {
        flex-direction: column;
    }

    .header-icons {
        justify-content: flex-end;
    }

    .header-icons .menu-toggle  {
        display: block;
    }

    .header-images .one-tech {
        display: none;
    }

    .header-images .mern-image {
        display: block;
        height: 4em;
    }
}

