/* ============ LAYOUT ============= */

body {
    margin: 0;
}

.container {
    margin: auto;
    max-width: 80%;
    min-width: 1200px;
}

.siteOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 748px) {
    
    .container {
        max-width: 700px;
    }

}