

.magazin {
    padding: 1.5em 4em 4em 4em;
}
.magazin-down {
    margin-bottom: 5em;

}

.magazin-down-mobile {
    display: none;
}

.magazin-up {
    margin-bottom: 3em;
}

@media all and (max-width: 768px) {
    .magazin-down {
        display: none;
    }
    .magazin-down-mobile {
        display: block;
    }
}
