/* ========== Navigation ============= */

.navigation {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 1235;
    transition: left 0.5s;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}
.nav-item:active {
    background: rgb(73, 73, 73);
    border-radius: 15px;
}
.nav-link {
    font-size: 2rem;
    padding: 0.7em 0 0.7em 0;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}
.nav-link:active {
    color: white;
    background: rgb(54, 54, 54);
}
.nav-link:visited {
    color: white;
}