/* ========== NavigationMob ============= */


.navigationMob {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background: black;
    width: 100%;
    height: 100vh;
    z-index: 1235;
    transition: left 0.5s;
}
.navMob-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navMob-item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;

}
.navMob-item:active {
    background: rgb(73, 73, 73);
    border-radius: 15px;
}
.navMob-link {
    font-size: 2rem;
    padding: 0.7em 0 0.7em 0;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}
.navMob-link:active {
    color: white;
    background: rgb(54, 54, 54);
}
.navMob-link:visited {
    color: white;
}


@media all and (max-width: 768px) {
    .navigationMob {
        display: flex;
    }
}