
.card-general {
    margin: 0 auto 1em auto;
}
.card-general-title {
    color: black;
    margin-top: 0;
    font-size: 1.175rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
}

.card-general-text {
    overflow: hidden;
}

.card-general-date {
    font-weight: bold;
    opacity: 0.5;
}