.card a {
    color: black;
}
.card a:hover {
    text-decoration: underline;
}

.card-img {
    opacity: 0.2;
    transition: 250ms opacity;
    transition-timing-function: linear;
}
.opacityOne {
    opacity: 1;
}