/* .card-magazinBig **************** */

.card-sportBig {
    background-color: rgb(0, 145, 0); 

}
.card-sportBig-title {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.5s;
}

.card-sportBig-title:hover {
    text-decoration: none;
    color: rgb(151, 187, 255);
}

.card-sportBig-subtitle {

    font-size: 1.5rem;
}

.card-sportBig-container-subtitle a {
    pointer-events: none;        
}

.card-sportBig-info {
    font-size: 1.25rem;
    order: -1;
}
.card-sportBig-info .card-info-date {

    text-transform: uppercase;

    letter-spacing: 1px;
}

.card-sportBig-info .card-info-date {
    text-transform: lowercase;
}

/* .card-sportCenter **************** */

.card-sportCenter {
    padding: 3em 2em 1em 2em;
    background-color: rgb(255, 255, 255, 0.3);
}

.sport-mobile .card-sportCenter {
    padding: 0
}

.card-sportCenter-text {
    background-color: rgba(255, 255, 255);
}

.card-sportCenter-title {
    color: black;
    font-size: 1.75rem;
    line-height: 1.25;
    letter-spacing: 1px;
    transition: color 0.25s;
    height: 100px;
    overflow: hidden;
}

.card-sportCenter-title:hover {
    color: rgb(15, 141, 250);
}

.card-sportCenter-info {
    color: white;
}

.card-sportCenter-info .card-info-category {
    color: rgb(61, 170, 237);
    font-size: 1.5rem;
    font-family: sans-serif, Arial, Helvetica;
    text-transform: uppercase;
}

.card-sportCenter-info .card-info-date {
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
}


@media all and (max-width: 768px) {
    .card-sportCenter-title {
        font-size: 2rem;
        line-height: 1.25;
        letter-spacing: 1px;
    }
 
    .card-sportCenter-subtitle {
        font-size: 1rem;
        line-height: 1.5;
    }

    .card-sportCenter-info .card-info-category {
        font-size: 1rem;
    }
    
    .card-sportCenter-info .card-info-date {
        font-size: 1rem;
    }
}
