.tag {
    font-size: 1.5rem;
    border-radius: 30%;
    letter-spacing: 1px;
    background: rgb(211, 211, 211);
}
.tag:hover {
    color: white;
    background:rgb(253, 106, 48);
    cursor: pointer;
}
.tag::before {
    content: '#';
}