* {
    box-sizing: border-box;
}

/* typography */

.wrapper {
    border: 3px solid red;
    width: 100%;
}
.header {
    background: green;
}
.main {
    background: yellow;
}
.footer {
    background: black;
}

.swiper-container {
    width: 100%;
}
#main.swiper-container {
    margin-bottom: 1em;
}

.swiper-wrapper {
    padding-inline-start: 0;
    margin: 0;
}

.swiper-slide {
    padding: 0px;
    margin: 0;
}
.imgSlide {
    width: 100%;
}
.imgThumb {
    width: 100%;
}
.imgThumb:hover {
    cursor: pointer;
}

#thumbs .swiper-slide {
    transition: all 0.5s;
    transform: scale(0.7, 0.7);
}
#thumbs .swiper-slide-thumb-active {
    transform: scale(1, 1);
}

/* ****** HEADER ***** */

.titleBox {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;
}
.title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-style: italic;
}
.menuToggle {
    font-size: 3rem;
    color: white;
}
.menuToggle:hover {
    cursor: pointer;
}
.fa-bars {

}
.fa-times {
    display: none;
}

/* navigation */

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}
.nav-item:active {
    background: rgb(73, 73, 73);
    border-radius: 15px;
}   
.nav-link {
    font-size: 2rem;
    padding: 0.7em 0 0.7em 0;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}
.nav-link:active {
    color: white;
    background: rgb(54, 54, 54);
}
.nav-link:visited {
    color: white;
}