* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
}

/* ========== TYPOGRAPHY =========== */

/* Wrapper */


.header {
    background: linear-gradient(90deg, rgb(251, 29, 0), rgb(253, 106, 48));
    caret-color: transparent;
}
.main {
    background: white;
}
.footer {
    background: black;
    caret-color: transparent;
}

/* Header */

.titleBox {
    margin: 1em 0 1em 0;
    padding: 1em;
}
.titleBox a {
    text-decoration: none;
}
.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-style: italic;
}
.fa-react {
    color: white;
}
.menuToggle {
    font-size: 1.5rem;
    color: white;
}

.login {
    cursor: pointer;
}

.fa-user-edit {
    font-size: 1.5rem;
    color: white;
}

/* Ticker */

.newsTicker1 {
    background: black;
}

.tickerTitle {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
    color: white;
    letter-spacing: 1px;
}
.tickerTitle:hover {
    color: #ffe17d
}

.tickerStars {
    padding: 0 0.5em 0 0.5em ;
}

.fa-asterisk {
    font-size: 0.7rem;
    color: white;
}

/* Covid */

.covidTitle {
    padding: 0.4em 0.5em 0.4em 0.5em;
    background: linear-gradient(90deg, rgb(251, 29, 0), rgb(253, 106, 48));
    color: white;
}
.covidTitle span {
    font-size: 1.25rem;
    font-weight: bold;
}

.covidNavigation {
    font-size: 1.2rem;
    padding: 0.3em 0.5em 0.3em 0.3em;
}
.covidNavigationItem {
    margin-right: 1em;
    caret-color: transparent;
}
.covidData {
    background: rgb(212, 212, 212);
    text-align: center;
    letter-spacing: 1px;
    padding: 0.5em 0.2em 0.5em 0.2em;
}

.covidDataNumber {
    font-weight: bold;
    font-size: 1rem;
}


/* Carousel */

#main.swiper-container {
    margin-bottom: 1em;
}

.swiper-wrapper {
    padding-inline-start: 0;
    margin: 0;
}

.swiper-slide {
    padding: 0px;
    margin: 0;
}

#main .swiper-button-prev, #main .swiper-button-next {
    color: white;
    opacity: 0.5;
}
#main .swiper-button-prev::after, #main .swiper-button-next::after {
    font-size: 3em;
}
#main .swiper-button-prev:hover, #main .swiper-button-next:hover,
#main .swiper-button-prev:active, #main .swiper-button-next:active {
    opacity: 1;
}
#thumbs .swiper-wrapper {
    margin-bottom: 1em;
}

/* Card */

.card a {
    color: black;
}
.card a:hover {
    text-decoration: underline;
}

.card-slide {
    padding-left: 0;
}

.card-slide-text {
    color: white;
    background: linear-gradient(180deg, rgba(33,33,92,0) 0%, rgba(0,0,0,1) 100%);
    padding: 0.5em;
}

.card-slide-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.card-img {
    opacity: 0.2;
    transition: 250ms opacity;
    transition-timing-function: linear;
}
.opacityOne {
    opacity: 1;
}
.card-general {
    margin: 0 auto 1em auto;
}
.card-general-title {
    color: black;
    margin-top: 0;
    font-size: 1.175rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
}

.card-general-text {
    overflow: hidden;
}

.card-magazin-title {
    font-size: 1.75rem;
}
.card-magazin-paragraphs {
    font-size: 1.25rem;
}

.card-sport {
    margin: 0 auto 1em auto;
}

.card-sport-text {
    overflow: hidden;
    width: 48%;
}

.card-sport-title {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-sport-paragraphs {
    margin-top: 0;
    font-size: 1rem;
}

.card-cathegory-title {
    font-size: 1.75rem;
}
.card-cathegory-paragraphs {
    font-size: 1.25rem;
}

/* Cathegory */


.cathegory-type {
    padding: 0.3em 0.5em 0.3em 0.5em;
    font-size: 2rem;
    text-align: center;
    color: white;
    caret-color: transparent;
    background: rgb(251, 29, 0);
}

/* Article */

.article-category {
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 1.5rem;
    color: white;
    caret-color: transparent;
    background: rgb(251, 29, 0);
}
.article-title {
   font-size: 2.25rem;
}
.article-subtitle {
    font-size: 1.75rem;
    line-height: 1.2;
}
.article-text {
    font-size: 1.5rem;
    line-height: 1.3;
}
.imgDescription, .videoDescription {
    background: black;
    color: white;
    font-size: 1.25em;
    padding: 0.4em 0.8em 0.5em 0.8em;
}
.article-origin-source span {
    color: red;
    font-weight: bold;
}
.article-origin-author span {
    color: red;
    font-weight: bold;
}
.article-date-published span, .article-date-updated span {
    font-weight: bold;
}

.article-video {
    outline: none;
}

/* Part */

.partTitle {
    font-size: 2rem;
    font-weight: bold;
    background: green;
    color: white;
    padding: 0.4em 0.4em 0.4em 0.4em;
}

.partTitle-magazin {
    background: purple;
}

/* Alphabet */

.alphabet-container {
    background: black;
    color: white ;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}
.cirilica, .latinica {
    margin: 0.3em 0.5em 0.3em 0.3em;
    caret-color: transparent;
}
.cirilica:hover, .latinica:hover {
    cursor: pointer;
}

/* Footer */

.footer {
    color: white;
    background: rgb(46, 46, 46);
    padding: 1em 0 1em 0;
}
.footer-social {
    font-size: 3rem;
    text-align: center;
}
.footer-social .fab {
    margin: 0.2em;
}
.footer-links {
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
}

.footer-item-link {
    text-align: center;
    color: white;
}
.footer-copyright {
    text-align: center;
    font-size: 1rem;
}

.swiper-pagination {
    background-color: white;
    bottom: 0 !important;
    height: 20px !important;
}
.swiper-pagination:hover {
    cursor:initial
}
.swiper-pagination-bullet {
    width: 1em !important;
    height: 1em !important;
    margin: 7px 10px 0 10px !important;
}