/* ============ LAYOUT ============= */

/* Wrapper */

body {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    margin: auto;
    max-width: 700px;
}

/* Header */

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 4;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0
}
.menuToggle:hover {
    cursor: pointer;
}
.fa-times {
    display: none;
}

/* Carousel */

.imgThumb {
    width: 100%;
}
.imgThumb:hover {
    cursor: pointer;
}

#thumbs .swiper-slide {
    transition: all 0.25s;
    transform: scale(0.7, 0.7);
}
#thumbs .swiper-slide-thumb-active {
    transform: scale(1, 1);
}
.swiper-pagination {
    position: absolute;
    bottom: -100%;
}

/* NewsTicker1 */

@keyframes ticker {
    from {transform: translateX(0%)}
    to {transform: translateX(-100%)}
}

.newsTicker1 {
    overflow: hidden;
    padding-left: 100%;
    margin-bottom: 1em;
}
.newsTicker1Container {
    background: 'yellow';
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    animation-name: ticker;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.newsTicker1Container:hover {
    animation-play-state: paused;
}

/* Covid */

.covid {
    margin: 0 0.2em 1em 0.2em;
}

.covidTitle {
    display: flex;
    justify-content: space-between;
}

.covidNavigation {
    display: flex;
    justify-content: center;
}
.covidNavigationItem:hover {
    cursor: pointer;
}
.covidSerbia, .covidWorld {
    display: flex;
    justify-content: space-around;
}
.covidData {
    flex: 0 0 49%;

}
.covidDataName {
    margin-bottom: 0.5em;
}

.covidDataNumberPlus {
    color: red;
}

/* Card */

.card-slide {
    position: relative;
}

.card-slide img {
    width: 100%;
    height: 65vw;
    max-height: 350px;
    object-fit: cover;
}

.card-slide-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.card-slide-paragraphs {
    display: none;
}
.card-general {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.card-general-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}
.card-general-container-title {
   overflow: hidden;
}
.card-general-paragraphs {
    display: none;
}
.card-general a {
    height: 30vw;
    width: 50%;
}
.card-general-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-magazin-text {
    margin-left: 1em;
}

.card-magazin-img {
    width: 100%;
    height: 65vw;
}

.card-sport {
    display: flex;
    justify-content: space-between;
}

.card-sport a {
    width: 50%;
    height: 30vw;
}

.card-sport-text {
    width: 48%;
}

.card-sport-img {
    width: 100%;
    height: 100%;
}

.card-sport-text p {
    display: none
}

/* Article */

.article {
    padding: 0 0.8em 0 0.8em;
}

.article-category {
    display: inline-block;
    margin-top: 1em;
}

.article-title {
    margin: 0.5em 0 0.5em 0;
 }

.article-image {
    display: block;
}
.article-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.article-origin-source,.article-date-published {
    margin-bottom: 0.3em;
}
.article-image {
    width: 100%;
}
.article-video {
    width: 100%;
}

/* Line */

.line {
    height: 1px;
    background-color: rgb(136, 136, 136);
    margin: 1em 1em 1em 1em;
}

/* Footer */

.footer-item-link {
    display: block;
}
.cmsOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(173, 185, 3, 0.3);
}